@model RegistrationApp.Models.UpdateRegistrationVM
@{
    ViewData["Title"] = "Details";
}

<h4 class="mt-5">Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Gender" class="control-label"></label><br />
            <input type="radio" asp-for="Gender" value="Male" disabled  /> Male
            <input type="radio" asp-for="Gender" value="Female" disabled /> Female
            <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
            <input asp-for="MobileNo" class="form-control" readonly />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="CountryId"></label>
            <select asp-for="CountryId" asp-items="Model.Countries" class="form-control"disabled></select>
        </div>

        <div class="form-group">
            <label asp-for="StateId"></label>
            <select asp-for="StateId" asp-items="Model.States" class="form-control" disabled></select>
        </div>

        <div class="form-group">
            <label asp-for="CityId"></label>
            <select asp-for="CityId" asp-items="Model.Cities" class="form-control" disabled></select>
        </div>
            <div class="form-group mt-3">
            <a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
