@{
    ViewData["Title"] = "Index";
}

<h3>Hi, Welcome to the Dashboard</h3>

<h4><a href="/Product/Index" class="btn btn-success">View Products</a> | <a href="/Product/Create" class="btn btn-primary">Add Product</a></h4>