@model RegistrationApp.Models.UpdateRegistrationVM
@{
    ViewData["Title"] = "Update";
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h4 class="mt-5">Update Details</h4>
        <hr />
        <form asp-action="update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                <input type="radio" asp-for="Gender" value="Male" /> Male
                <input type="radio" asp-for="Gender" value="Female" /> Female
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div><br />
            <div class="form-group mt-2">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
